In [1]:
sting="student"

In [2]:
type(sting)

str

In [3]:
sum=[2,4,6,"Data",24.6,-46]

In [4]:
type(sum)

list

In [5]:
flot=(34.9909)

In [6]:
type(flot)

float

In [7]:
tupe=(6,56,"earn","money")

In [8]:
type(tupe)

tuple

||2 question

var1=' '=string
var2='[DS,ML,PYTHON]'= string
var3=['DS','ML','PYTHON'] = list
var4=1. = float

||3 question

/ - It is used for division between two numbers.

In [10]:
100/5

20.0

% - It gives the remainder of integer division

In [12]:
100%3

1

// - It gives the floor value of divivsion operation

In [13]:
5//2

2

** - It is the exponent operator

In [15]:
3**6

729

In [16]:
lists=[2,22,"data","science",42,56.008,23.92,"flot",222,2222]
for i in lists:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'int'>
<class 'int'>

In [2]:
A=100
B=10
Count=0
while A%B==0:
    Count +=1
    A/=B
    print("A is divisible by B", Count, "times")

A is divisible by B 1 times
A is divisible by B 2 times

In [5]:
lists=[2,3,4,56,564,23,76,7543,3325,34235,235346,34,124,67,345,87,34,75,24,88,666,544,876,98,57,45]
for i in lists:
    if i%3==0:
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
56 is not divisible by 3
564 is divisible by 3
23 is not divisible by 3
76 is not divisible by 3
7543 is not divisible by 3
3325 is not divisible by 3
34235 is not divisible by 3
235346 is not divisible by 3
34 is not divisible by 3
124 is not divisible by 3
67 is not divisible by 3
345 is divisible by 3
87 is divisible by 3
34 is not divisible by 3
75 is divisible by 3
24 is divisible by 3
88 is not divisible by 3
666 is divisible by 3
544 is not divisible by 3
876 is divisible by 3
98 is not divisible by 3
57 is divisible by 3
45 is divisible by 3

Mutable - that data type which can be changed.
immutable - that data type which cannot be changed.
Examles are given below respectively.

In [6]:
q=[2,567,"hello","see",567.098]

In [7]:
q[2]="hi"

In [8]:
q

[2, 567, 'hi', 'see', 567.098]

In [9]:
p="imutble"

In [11]:
p[2]="a"

TypeError: 'str' object does not support item assignment